/** 
  *
  *  ESTILOS GERAIS 
  *
  **/

  * {
    margin: 0;
    padding: 0;
}



body{
    background-color: rgb(255, 229, 144)
}
.logo{
    background: none;
}

h1 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
    height: 20px;
    width: 500px;
}

button:focus {
    color: white;
}

img {
    width: 100px;
}

div>p:first-child {
    display: inline;
}

div img {
    background: transparent;
}

.botao-amarelo {
    background-color: #ffe343;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: black;
    cursor: pointer;
    margin: 0 auto;
}

.botao-amarelo:hover {
    background-color: #c44f00;
    color: white;
}

.container {
    height: 500px;
    text-align: center;
}

.icone {
    height: auto;
    width: auto;
    max-height: 15px;
   
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-para-comprar>p {
    color: #c44f00;
    padding: 100px 0;
    font-size: 60px;
}


/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

#back-button {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
    text-align: center;
}

#back-button:hover {
    background-color: #635a3d
}

td {
    text-align: center;
}


/* 
ESTILOS HOBBIES
 */

 .icone {
    height: auto;
    width: auto;
    max-width: 80px;
    max-height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

table {
    margin: auto;
}

.hobby {
	width:300px;
	height:200px;
	background-color: rgb(255, 255, 159);
	border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	}